.psalm-name-accessible {
  color: #103A7D;
  margin: 15px;
  text-align: center;
  font-size: 25px;
  text-shadow: 2px 1px 1px #203617;
  letter-spacing: 1px;
}

.psalm-name-accessible:hover {
  color: #FF5C00;
  font-weight: bolder;
  font-size: 26px;
  z-index: 20;
  margin-top: -0.1px;
  transition-duration: 0.5s;
  text-shadow: 4px 1px 1px #203617;
}


.psalm-name-not-accessible {
  display: none;
}

